.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown code {
  padding: 1rem;
}

.markdown blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding: 1rem;
  quotes: "\201C""\201D""\2018""\2019";
  p {
    margin: 0;
  }
}
.markdown h2 {
  @apply font-bold text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply font-bold text-2xl mt-8 mb-4 leading-snug;
}

.markdown ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.markdown ul > li {
  text-align: left;
  margin-top: 0.5rem;
  width: 90%;
}
